<!DOCTYPE html>
<html>
<head>
    <title>ra portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Abel|Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel|Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900" rel="stylesheet">
    <!--<link rel="stylesheet" href="styles.css">-->


</head>

<body>
    <!--intro-->

        <h1 style="color: #FBB03B;font-size:50px;font-family: 'playfair display', cursive; margin-bottom: 0px; margin-right: 15px;letter-spacing: 5px; text-align: center;">Ruby Abutaleb</h1>
        <img src="../assets/image/photogHalfMe.jpg" style="border-radius: 50%;" class="center">

        <br />
        <h1 style="text-align: center; letter-spacing: 3px; color: #FBB03B;">Aspiring Full Stack developer</h1>
        <p style="text-align:center; ">As a computer science major/graphic design minor at California State University, Fullerton, I have developed a strong technical background and design style. I have invested in my passion for creative development over the past years. While working on various programming and design projects, I have honed my understanding of back-end development and front-end aesthetic. Here are a few projects of mine:</p>
        <hr>

        <!-- Pages Button-->
        <br /><br />
        <h1 style="text-align: center; letter-spacing: 3px; color: #FBB03B;">View My Work</h1>
        <a href="graphicDesign.html"><button class = "btn stripes">graphic design</button></a>
        <a href ="softwareDevelopment.html"><button class = "btn stripes">software development</button></a>
        <a href="workExperience.html"><button class = "btn stripes">work experience</button></a>


</body>

</html>
